NODE_ENV=
DATABASE_NAME_TEST=
DATABASE_HOST_TEST=
DATABASE_PORT_TEST=
DATABASE_USERNAME_TEST=
DATABASE_PASSWORD_TEST=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=